.btnSeeMore,.btnSubmit{
    padding: 2px 7px;
    margin-right: 10px;
    margin-bottom: 15px;
    float: right;
    color: #ffffff;
    background-color: #e08507;
}
.btnSubmit{
    padding: 2px 10px;
}