.navigation-top{
    display: flex;
    align-items: center;
    min-height: 70px;
    .logo{
        float: left;
        width: 90%;
        img{
            object-fit: contain;
        }
    }
    .btnBarmenu{
        float: right;
        width: 10%;
        .btnbar{
            display: flex;
            align-items: center;
            width: 50px;
            font-size: 35px;
            height: 65px;
            color: #084bfe;
        }
    }
}