.menu-mobile
{ 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 6000; 
}
#wrapper-menu-mobile
{ 
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 100%;
  background:rgba(0,0,0,.8);
}
#wrapper-menu-mobile .wrapper
{ 
  position: absolute; 
  height: 100%; 
  width: 70%; 
  background-color: #32acd5;
  right: 0%; 
  z-index: 10;
}
.menu-mobile .wrapper > a
{
  font-size:20px;
  padding:28px 0 0 30px;
  float:left;
  color:#ffffff;
  text-decoration:none;
}
#wrapper-menu-mobile ul
{ 
  padding: 0 20px;
  position:relative;
  height:100%;
  overflow-y:scroll;
  list-style-type: none;
}
#wrapper-menu-mobile ul li
{ 
  padding: 20px 7px; 
  border-top: 1px solid #9bb8b3;
}
#wrapper-menu-mobile ul li.first
{ 
  border: none;
  padding-bottom: 35px;
  padding-left: 0px;
  padding-right: 0px;
}
#wrapper-menu-mobile ul li a
{ 
  margin-left: 10px; 
  display: block; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  text-transform: uppercase; 
  text-decoration: none;
  color:#ffffff;
}
#wrapper-menu-mobile ul li button
{ 
  background: none; 
  border: none; 
  float: right;
}
#wrapper-menu-mobile ul li span
{ 
  float: left; 
  margin: 5px 0 0 10px; 
  display: block; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 20px; 
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-mobile .block-menu-mobile
{ 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: transparent;
}

#wrapper-menu-mobile #bt-fechar-menu{ color:#ffffff; cursor:pointer;
position: absolute;
outline: none;
right: 10px;}